mode: standalone
replicas: 1

auth:
  existingSecret: minio
  rootUserSecretKey: root-user
  rootPasswordSecretKey: root-password

persistence:
  enabled: true
  size: 10Gi
  storageClass: local-path
  accessModes:
    - ReadWriteOnce


ingress:
  enabled: true
  ingressClassName: nginx
  hostname: minio.timebertt.dski23a.timebertt.dev
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  tls: true

resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 500m